body {
  background-image: url("../images/botw\ wallpaper.jpg");
  background-size: 100%;
}

.triviabox {
  margin-top : 10px;
}

.title {
  /* background-color: rgb(147, 224, 208); */
  padding : 5px;
  text-align: center;
  font-weight: bold;
}

.startbtn {
  left: 46%;
}

#timer {
  position: relative;
  float: right;
  right: 15px;
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
}

.content {
  padding: 20px;
  margin: 5px;
}

.question {
  text-indent: 20px;
  font-weight: 600;
}

.image {
  position: relative;
  left: 28%;
  max-width: 450px;
}

.choice {
  left: 10px;
  margin: 5px;
  font-weight: 500;
}

.choice:hover {
  background-color: rgb(216, 185, 107);
}

footer {
  position: relative;
  bottom: 5px;
}